---
layout: default
title: Projects
description: A blog regarding Artifical Intelligence.
featured_image: /images/social.jpg
---

<section class="listing single">

	<div class="wrap">

		{% for category in site.projects reversed %}

		<article class="listing-post">

			<div class="listing-post__header">
				<h2 class="listing-post__title"><a href="{{ category.url | relative_url }}">{{ category.title }}</a></h2>
				<p class="listing-post__subtitle">{{ category.subtitle }}</p>
			</div>

			{% if category.featured_image %}
			<a href="{{ category.url | relative_url }}" class="listing-post__image" style="background-image: url({{ category.featured_image | relative_url }});"></a>
			{% endif %}

			<div class="listing-post__content">
				<p>{{ category.excerpt }}</p>
				<p><a href="{{ category.url | relative_url }}" class="button">View Project</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>
